/* Common */
body {
  max-width: 1200px;
  margin: auto;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #f1f3f9;
  color: black;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #f1f3f9;
}

.logo img {
  height: 50px;
}

.nav-links a {
  margin-left: 30px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: color 0.3s;
}

.nav-links .gray {
  color: #8987a1;
}

.nav-links a:hover {
  color: #ff6600;
}

.cart {
  font-weight: bold;
}

/* Banner */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  padding: 80px 60px;
  background-color: #f1f3f9;
}

.banner-text {
  max-width: 50%;
}

.banner-text h1 {
  font-size: 48px;
  margin: 0;
}

.banner-text .highlight {
  color: #e86900;
  font-weight: bold;
}

.banner-text p {
  margin-top: 20px;
  font-size: 18px;
  color: #666;
}

.banner-image img {
  max-width: 100%;
  height: auto;
}

/* Plants Section */
.plants-section {
  padding: 60px;
  text-align: center;
  background-color: #f1f3f9;
}

.plants-section h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.plants-section .highlight {
  color: #e86900;
}

.section-description {
  color: #666;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto 40px auto;
}

.plant-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  justify-items: center;
}

.plant-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.plant-card img {
  max-width: 100%;
  border-radius: 8px;
}

.plant-card h3 {
  margin: 10px 0 5px;
  font-size: 18px;
  font-weight: 600;
}

.price {
  font-weight: bold;
  margin-bottom: 10px;
}

.add-btn {
  background-color: #e86900;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.add-btn:hover {
  background-color: #cc5800;
}

/* Plants Lover Section */
.plants-lover {
  background-color: #f1f3f9;
  padding: 60px;
}

.lover-container {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.lover-image img {
  max-width: 500px;
  width: 100%;
  border-radius: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.lover-text {
  flex: 1;
  position: relative;
}

.lover-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.lover-text ul {
  padding-left: 20px;
  color: #666;
}

.lover-text li {
  margin-bottom: 16px;
  line-height: 1.6;
}

/* Animation */
.trusted-badge {
  position: absolute;
  top: -150px;
  right: 500px;
  width: 200px;
  animation: rotateBadge 5s linear infinite;
}

.trusted-badge img {
  width: 100%;
}

@keyframes rotateBadge {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
